#celek{background-color: black;color: white;margin: 0px;padding: 0px}
#obrazek{padding-left: 25%;background-color: black}
#formular{padding-left: 45%;background-color: black;color: white}
#napis{padding-left: 15%;font-size: 25pt}
